In [1]:
import pandas as pd
import numpy as np

## Question 1
Pandas version 2.1.4

In [8]:
print(f'I am using pandas version {pd.__version__}')

I am using pandas version 2.1.4

In [10]:
laptops_df = pd.read_csv('laptops.csv')
laptops_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Question 2

In [7]:

n_records = laptops_df.shape[0]

print(f'There are {n_records} records in the laptops dataset')

There are 2160 records in the laptops dataset

## Question 3

In [15]:
laptop_brands = laptops_df['Brand'].unique()
print(f'There are {len(laptop_brands)} laptop brands in the dataset')

There are 27 laptop brands in the dataset

## Question 4

In [35]:
missing_columns = laptops_df.columns[laptops_df.isna().any()]
print(f'There are {len(missing_columns)} columns with missing values')

There are 3 columns with missing values

## Question 5

In [31]:
max_dell = laptops_df[laptops_df['Brand'] == 'Dell']['Final Price'].max()
print(f'The most expensive Dell laptop costs ${max_dell}')

The most expensive Dell laptop costs $3936.0

## Question 6

In [41]:
median_screen = laptops_df['Screen'].median()
print(f'The median screen size is: {median_screen}')

mode_screen = laptops_df['Screen'].mode()[0]
print(f'The most common screen size is: {mode_screen}')

# Replace all missing values with the median value
laptops_df['Screen'] = laptops_df['Screen'].fillna(median_screen)

# Recalculate the median screen size
median_screen = laptops_df['Screen'].median()
print(f'\nThe median screen size is now: {median_screen}\nSo the median has not changed')

The median screen size is: 15.6
The most common screen size is: 15.6

The median screen size is now: 15.6
So the median has not changed

## Question 7

In [45]:
# Subset laptops dataset to include Innjoo laptops only
innjoo = laptops_df[laptops_df['Brand'] == 'Innjoo']
# Create array with appropriate columns
X = innjoo[['RAM', 'Storage', 'Screen']].values
# Multiply X and X transposed
XTX = np.dot(X.T, X)
# Find the inverse 
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100])

w = np.dot(np.dot(XTX_inv, X.T), y)
weights_sum = w.sum()

print(f'The sum of the weights is: {weights_sum:.2f}')

The sum of the weights is: 91.30